@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Start Global Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
/* End Global Styles */
/* Start Websites Section */
.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery .container {
  margin-top: 5rem;
}

.img-container {
  overflow: hidden;

  position: relative;
  border: 1px solid #000;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
}

.content {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  color: #fff;
  opacity: 0;
  cursor: pointer;
}

.img-container:hover .content {
  opacity: 0.8;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}
.img-container:hover img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.zoom-text {
  width: 5rem;
  height: 5rem;
  background: var(--secondary-dark-blue);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.content a {
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
.content .fas {
  font-size: 1.8rem;
}
.zoom-text:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* End Websites Section */
